<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Recetas Populares</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin-clientes">Administrador</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/logout}" th:text="'Logout'"
                            onclick="event.preventDefault(); document.getElementById('logout-form').submit();"></a>
                    </li>
                    <form id="logout-form" th:action="@{/logout}" style="display: none;"></form>
                    <li class="nav-item" th:if="${!#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/login}" th:text="'Login'"></a>
                    </li>
                    <li class="nav-item" th:if="${!#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/register}" th:text="'Registrate'"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 pt-5">
        <h1 class="text-center mb-4">Editar Cliente</h1>
        <div class="card shadow-sm border-0 rounded-lg">
            <div class="card-body p-4">
                <form th:action="@{/editar/{id}(id=${usuario.id})}" method="post">
                    <input type="hidden" th:value="${usuario.id}" name="id">
                    <!-- Campos para editar usuario -->
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" th:value="${usuario.username}" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" th:value="${usuario.email}" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${usuario.nombre}" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" th:value="${usuario.apellido}" required>
                    </div>
                    <div class="mb-3">
                        <label for="rol" class="form-label">Rol</label>
                        <input type="text" class="form-control" id="rol" name="rol" th:value="${usuario.rol}" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 rounded-pill">Guardar Cambios</button>
                </form>
                
            </div>
        </div>
    </div>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>